* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    color: #fff;
    background: linear-gradient(135deg, #1a1a2e, #16213e, #0f3460);
 
}
h1{
    text-align: center;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    z-index: 100;
    transition: background 0.5s ease;
}

.header.active {
    background: #222;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

.logo {
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    color: #0ef;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 35px;
    transition: 0.3s;
    padding: 10px;
    border-radius: 7px;
}

.navbar a:hover {
    color:black;
    background-color: #0ef;
    transition: .3s;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 70px 10%;
}

#home {
    background: url("https://source.unsplash.com/random/1600x900/?tech") no-repeat;
    background-size: cover;
    background-position: center;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}

.typing::after {
    content: '|';
    animation: typing 4s steps(22) infinite;
}

.button {
    margin-top: 20px;
    display: inline-block;
    background: #0ef;
    color: #000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.button:hover {
    transform: scale(1.1);
    background: #fff;
    color: #0ef;
    box-shadow: 0 0 15px #0ef;
}



.shaking-img {
width: 300px;
height: 300px;
margin-left: 300px;
border-radius: 50px;
animation: float 3s ease-in-out infinite;
border: 2px solid #0ef;
    box-shadow: 0 0 15px #0ef;
    transition: transform 0.4s ease, background 0.4s ease;

/* Added spacing */
}




@keyframes float {
0%, 100% { transform: translateY(0); }

50% { transform: translateY(-10px); }
}

.home-content {
max-width: 600px;
margin-right: 50px;
line-height:3em;; /* Added spacing */
}
#skills{
display: block;
}


.skill-box{
    height: 260px;
    
    background: #222;
    padding: 20px;
    border: 2px solid #0ef;
    border-radius: 15px;
    box-shadow: 0 0 15px #0ef;
    text-align: center;
    margin-left: 10px;
    transition: transform 0.4s ease, background 0.4s ease;
}
.skill-box:hover{
    transform: scale(1.1);
    background: #0ef;
    color: #000;
    box-shadow: 0 0 25px #0ef;
}
.skill-box1{
    height: 260px;
    background: #222;
    padding: 20px;
    border: 2px solid #0ef;
    border-radius: 15px;
    box-shadow: 0 0 15px #0ef;
    text-align: center;
    margin-left: 10px;
    transition: transform 0.4s ease, background 0.4s ease;
}
.skill-box1:hover{
    transform: scale(1.1);
    background: #0ef;
    color: #000;
    box-shadow: 0 0 25px #0ef;
}
.skill-box2{
    height: 260px;
    background: #222;
    padding: 20px;
    border: 2px solid #0ef;
    border-radius: 15px;
    box-shadow: 0 0 15px #0ef;
    text-align: center;
    margin-left: 10px;
    transition: transform 0.4s ease, background 0.4s ease;
}
.skill-box2:hover{
    transform: scale(1.1);
    background: #0ef;
    color: #000;
    box-shadow: 0 0 25px #0ef;
}
.skill-box3{
    margin-top: 30px;
    height: 260px;
    width: 450px;
    background: #222;
    padding: 30px;
    border: 2px solid #0ef;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px #0ef;
    text-align: center;
    margin-left: 10px;
    transition: transform 0.4s ease, background 0.4s ease;
}
.skill-box3:hover{
    transform: scale(1.1);
    background: #0ef;
    color: #000;
    box-shadow: 0 0 25px #0ef;
}
.skill-box4{
    margin-top: 30px;
    height: 260px;
    width: 250px;
    background: #222;
    padding: 20px;
    border: 2px solid #0ef;
    border-radius: 15px;
    box-shadow: 0 0 15px #0ef;
    text-align: center;
    margin-left: 10px;
    
    transition: transform 0.4s ease, background 0.4s ease;
}
.skill-box4:hover{
    transform: scale(1.1);
    background: #0ef;
    color: #000;
    box-shadow: 0 0 25px #0ef;
}
.skill-box5{
    margin-top: 30px;
    width: 250px;
    background: #222;
    padding: 20px;
    border: 2px solid #0ef;
    border-radius: 15px;
    box-shadow: 0 0 15px #0ef;
    text-align: center;
    margin-left: 10px;
    transition: transform 0.4s ease, background 0.4s ease;
}
.skill-box5:hover{
    transform: scale(1.1);
    background: #0ef;
    color: #000;
    box-shadow: 0 0 25px #0ef;
}

.project-box:hover {
    transform: scale(1.1);
    background: #0ef;
    color: #000;
    box-shadow: 0 0 25px #0ef;
}
.first-icon{
    padding-right: 8px;
    font-size: 25px;
    color:rgb(89, 189, 229);
    

}
.icon{
    width: 500px;
   
}
.icons{
  
    padding: 15px;
    font-size: 25px;
    color:rgb(89, 189, 229);
    
}

i:hover{
    transform: scale(1.5);
    transition: .3s;

}
.about-con{
    width: 100%;
    height:120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-content img{
    width: 250px;
    height: 250px;
    border: 2px solid #0ef;
    box-shadow: 0 0 15px #0ef;
    transition: transform 0.4s ease, background 0.4s ease;
    border-radius: 300%;
    animation: float 2s ease-in-out infinite;
    margin-left: 100px;
    margin-top: 130px;
    
}
.about-content p{
    line-height: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
  
}
.content{
    width: 800px;
    margin-top: 150px;
    border: 2px solid #0ef;
    box-shadow: 0 0 15px #0ef;
    transition: transform 0.4s ease, background 0.4s ease;
    border-radius: 15px;
    padding-left: 10px;
}
.course{
  
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.course p{
   
    padding: 20px;
    border: 2px solid #0ef;
    border-radius: 15px;
    box-shadow: 0 0 15px #0ef;
    text-align: center;
    margin-top:25px;
    margin-left: 25px;
    transition: transform 0.4s ease, background 0.4s ease;
}
.course p:hover{
    padding: 25px;
    transition: .3s;
}
.skills-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.course1 p{
    width: 200px;
    padding: 20px;
    border: 2px solid #0ef;
    border-radius: 15px;
    box-shadow: 0 0 15px #0ef;
    text-align: center;
    margin-top:25px;
   
    transition: transform 0.4s ease, background 0.4s ease;
}
.course1 p:hover{
    padding: 25px;
    transition: .3s;
}
.course2 p{
    width: 200px;
    padding: 20px;
    border: 2px solid #0ef;
    border-radius: 15px;
    box-shadow: 0 0 15px #0ef;
    text-align: center;
    margin-top:25px;
   
    transition: transform 0.4s ease, background 0.4s ease;
}
.course2 p:hover{
    padding: 25px;
    transition: .3s;
}

.course3 p{
 
    padding: 20px;
    border: 2px solid #0ef;
    border-radius: 15px;
    box-shadow: 0 0 15px #0ef;
    text-align: center;
    margin-top:25px;
    margin-left: 15px;
   
    transition: transform 0.4s ease, background 0.4s ease;
}
.course3{
    display: flex;
    

}
.course3 p:hover{
    padding: 25px;
    transition: .3s;
}
.course4 p{
  
    padding: 20px;
    border: 2px solid #0ef;
    border-radius: 15px;
    box-shadow: 0 0 15px #0ef;
    text-align: center;
    margin-top:25px;
   
    transition: transform 0.4s ease, background 0.4s ease;
}
.course4 p:hover{
    padding: 25px;
    transition: .3s;
}
.course5 p{
    width: 200px;
    padding: 20px;
    border: 2px solid #0ef;
    border-radius: 15px;
    box-shadow: 0 0 15px #0ef;
    text-align: center;
    margin-top:25px;
   
    transition: transform 0.4s ease, background 0.4s ease;
}
.course5 p:hover{
    padding: 25px;
    transition: .3s;
}
#projects{
    display: block;
}
.projects-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.project-box{
    width: 330px;
    height: 400px;
    padding: 22px;
  
   border-radius: 15px;
    box-shadow: 0 0 15px #0ef;
    transition: transform 0.4s ease, background 0.4s ease;
    text-align: center;
   color: white;
   transition: .3s;
   margin-left: 25px;
    margin-top: 20px;
    padding-left:10px;
    padding-right: 10px;
  
}
.project-box:hover{
    color:white;
}
.project-box div{
    margin-top: 5px;
}

.project-box p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.project-box img{
    width: 250px;
    height: 170px;
    position: relative;
cursor: pointer;
}
.project-about{
  
    border: 2px solid #0ef;
    border-radius: 15px;
    box-shadow: 0 0 15px #0ef;
    transition: transform 0.4s ease, background 0.4s ease;
    text-align: center;
    margin-left: 20px;
    margin-top: 10px;
    padding-left:10px;
    padding-right: 10px;
    background-color: #0ef;
   
   

    position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #0ef;

border-radius: 15px;
box-shadow: 0 0 15px #0ef;
display: none;
   
 

}

.project-about p{
    padding: 10px;
    margin-top: 10px;
    font-size: 17px;
}
.project-box i{
    font-size: 20px;
    font-weight: bold;
    color:white;
 margin-top: 5px;
 margin-bottom: 10px;

}
#education{
    margin-top: 1000px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.education-box{
    border: 2px solid #0ef;
    border-radius: 15px;
    box-shadow: 0 0 15px #0ef;
    transition: transform 0.4s ease, background 0.4s ease;
    width: 600px;
    text-align: left;
    padding: 25px;
    margin: 50px;
  
}
.education-box h2{
    padding: 10px;
}
.education-box p{
    padding: 5px;
    line-height: 1.5rem;
}
.education-box:hover{
    
    transform: scale(1.1);
    background: #0ef;
    color: #000;
    box-shadow: 0 0 25px #0ef;

}
#contact{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-content p{
    margin-top: 15px;
    text-align: center;
}
.contact-content .icon{
  margin-left: 230px;
}
.contact-content ul{
   list-style: none;
   display:flex;
   padding: 20px;

}
.contact-content li{
    padding: 10px;
}
.contact-content a{
    color: white;
    text-decoration: none;
}